#header {
    background-image:url("black-white-city.png");
	background-repeat: no-repeat;
	background-size: cover;
    	text-align:center;
	width:100%;
	height: 600px;
}


#section {
    width:100%;
    padding:10px;
	text-align: center;
	color: #006699;
	background-color: #F5F5F5;
	min-height: 800px;
}

#section-blue {
    width:100%;
    padding:10px;
	text-align: center;
	background-color: #3385AD;
	color: #F5F5F5;
	min-height: 300px;

}
#footer {
    background-color:#94D60A;
    color:#006699;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}


.top-nav{
padding-top: 10px;
left:0;
width: 100%;
height: 50px;

}

.logo-img{
position: absolute;
display: inline-block;
left: 0;
}

.sus-link{
 text-decoration: none;
 color: white;
 font-weight: bold;
 margin-left: 70%;
font-size:20px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sus-link:hover{
color: #94D60A;
 text-decoration: none;
}

.jumbo-header{
display: inline-block;
padding-top: 70px;
text-align:center;
font-family:  sans-serif;
font-size: 400%;
 font-weight: bold;
 color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.jumbo-header-green{
display: inline-block;
padding-top: 70px;
padding-right: 10px;
text-align:center;
font-family:  sans-serif;
font-size: 400%;
 font-weight: bold;
 color: #94D60A;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.head-text{
padding-top: 10px;
text-align:center;
font-family:  sans-serif;
font-size: 200%;
 font-weight: bold;
 color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dl-now{
border-style:none;
background-color: black;
color: white;
width: 400px;
height: 40px;
margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 opacity: 0.9;
 filter: alpha(opacity=90); 
 font-weight: bold;
box-shadow: 1px 1px 1px black;
}


.dl-now:hover{

color: #94D60A;
}


/*------top--end----------------------------------------------------------------*/

.section1-text{
padding-top: 10px;
text-align:center;
font-family:  sans-serif;
font-size: 400%;
 font-weight: bold;
 color: #565A5C;
}
.section1-text-med{
padding-top: 10px;
text-align:center;
font-family:  sans-serif;
font-size: 200%;
 font-weight: bold;
 color: #565A5C;
}

.go-now{
border-style:none;
background-color: #94D60A;
color: black;
width: 200px;
height: 40px;
margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
}

.visit-now{
border-style:none;
background-color: black;
color: white;
width: 300px;
height: 40px;
margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
margin-bottom: 50px;
 opacity: 0.6;
 filter: alpha(opacity=60); 
 font-weight: bold;
 border: 1px solid #DCDCDC;
}

.visit-now:hover{

color: #94D60A;
}

.image-box{
 margin-left: auto;
 margin-right: auto;
 background-image:url("http://www.smartusys.com/images/SCM_Image.png");
 background-repeat: no-repeat;
 background-position: center;
 height: 300px;
 width: 400px;
}



.image-box2{
 margin-left: auto;
 margin-right: auto;
 background-image:url("scm_pc1.png");
 background-repeat: no-repeat;
 background-position: center;
 height: 300px;
 width: 400px;
}

.image-box3{
 margin-left: auto;
 margin-right: auto;
 background-image:url("scm_pc2.png");
 background-repeat: no-repeat;
 background-position: center;
 height: 300px;
 width: 400px;
}


.image-box4{
 margin-left: auto;
 margin-right: auto;
 background-image:url("scm_pc3.png");
 background-repeat: no-repeat;
 background-position: center;
 height: 300px;
 width: 400px;
}

.learn-more{
border-style:none;
background-color: #94D60A;
color: black;
width: 200px;
height: 40px;
margin-left: auto;
 margin-right: auto;

}

.info-container{
	display:inline-block;
}

.share-buttons{
position: absolute;
display: inline;
padding-left: 20px;
}
